header{
    background-color: rgb(224, 148, 55);
    top:0;position:sticky;height: 2cm;
}
footer {
    background-color:rgb(224, 148, 55);
    color:black;
    position: fixed;
    bottom: 0;
    width:100%;}
h3{
    ;display:block;
    display: inline-block;
    width:8cm;
    font-size:250%;
    top: 0%;
}
img{
    width: 100%;
}
a{
    text-decoration:none;
}